<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team! </h1>
<form class="" action ="/team" method="post">
<p>
  <label for="team_name"> Team Name:</label>
  <input id="team_name" type="text" name="name">

 <br>
</p>  

  <label for="coach">Coach:</label>
  <input id="coach" type="coach" name="coach">

  <br/>
<p>
  <label for="point_guard">Point Guard:</label>
  <input id="point_guard" type="text" name="pg">

  <br/>
</p>
  <label for="shooting_guard">Shooting Guard:</label>
  <input id="shooting_guard" type="text" name="sg">

  <br/>
<p>
  <label for="small_forward">Small Forward:</label>
  <input id="small_forward" type="text" name="sf">

  <br/>
</p>
<p>
  <label for="power_forward">Power Forward:</label>
  <input id="power_forward" type="text" name="pf">

  <br/>
</p>
<p>
  <label for="Center">Center:</label>
  <input id="Center" type="text" name="c">

  <br/>
</p>

  <button type="submit" id = "submit" value="submit">Submit</button>
</form>
 </head>
 <body>
 </body>
</html>


